:root {
    --main-color: darkblue;
    --secondary-color: white;
    --main-text-color: black;
    --section-color: rgba(227, 227, 219, 0.5);
    --border-color: rgba(227, 227, 219, 1);
    --heading-font: "Times New Roman", serif;
    --body-font: Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--main-text-color);
}

/*auto centers all elements horizontally*/
header, main, footer {
    width: 840px;
    margin: 0 auto; 
    margin: 1rem;
    padding: 1rem;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

header img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

header nav{
    background-color: var(--secondary-color);
    margin-left: 20px;
}

header ul{
    display: flex;
    justify-content: space-evenly;
}

.address-div {
    text-align: center;
    margin-bottom: 1rem;
}

.address-div h1, p {
    padding: 0.1rem;
}

.map-form-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.map-div {
      position: relative;
      width: 100%;
      padding-top: 100%; 
    }

/*this code causes the map to adjust to the cell size*/
.map-div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

form {
    margin-right: 2rem;
}

.column {
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem;
    align-items: center;
}

.radio-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    margin: 1rem;
    margin-left: 0px;
}

input[type="text"] {
    height: 30px;
}

input[type="email"] {
    height: 30px;
}

textarea, button {
    width: 100%;
}

textarea {
    height: 100px;
}

/*applies to three elements at bottom of form*/
.margin {
    margin-top: 1rem;
}

button {
    display: block;
    background-color: darkblue;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}

/*applies grid with three columns and two rows to .emp-profile-section*/
.emp-profile-section{
    display: grid;
    grid-template: 1fr 4fr / repeat(3, 1fr);
    grid-gap: 5px;
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--section-color);
}

/*applies to the ".emp-profile-section" h2*/
.emp-profile-section h2{
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

figure img{
    width: 100px;
    height: auto;
}

/*creates a flex-box of each figure, then aligns the img and figcaption to center (centers them)*/
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: 200px auto 200px;
}

footer p {
    grid-column: 2/3;
    text-align: center;
}

/*a class of the footer's <nav> element*/
.social-media {
    grid-column: 3/4;
    justify-self: end;
}

footer img {
    width: 40px;
}

/*applies to the Nav and <a> sections in the footer*/
.social-media a {
    text-decoration: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
