* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: white;
}

header {
    width: 650px;
    margin: 0 auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
    margin: 1rem;
}

form {
    width: 650px;
    margin: 0px auto;
    padding: 1rem;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

legend {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 1.3rem;
}

label, input, button, select, textarea {
    font-family: 'Franklin Gothic l', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: bottom;  

}

button {
    margin: 0 auto;
    background-color: darkblue;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;

}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 2fr 1fr;
    margin: 0.5ren 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

/*added by me*/
label[for="feedback"] {
    text-align: right;
    padding-right: 12.3rem;
    padding-top: 1rem;
}