nav {
    background-color: darkblue;
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 800px;
}

main img{
    width: 150px;
    height: auto;
    border: 3px solid rgb(0 0 0 / 20%);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
 aside{
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 20%);
    padding-left: 100px;
    padding-right: 100px;
    background-color: khaki;
    color: HotPink;
    text-align: center;
 }

 aside img{
    width: 200px;
    height: auto;
 }

h1 {
    color: blue;
}

p {
    padding: 0px;
}

footer{
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;

}
